<head>
    <meta http-equiv="Content-Type"  content="text/html; charset=utf-8">
    <meta charset="utf-8"/>

    <title>{{#if title}}{{ title }} | {{/if}}&amp;! (bnb, bang, bitandbang)</title> <!-- Title of the page -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="../favicon.ico"> <!-- Add your favicon -->

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"> <!-- Icon font for navbar. -->
    <link rel="stylesheet" href="http://brick.a.ssl.fastly.net/TeX+Gyre+Heros:400,700:f/Source+Serif+Pro:400/Playfair+Display:700i/Alegreya:400i,700i"> <!-- serif/sans serif typography -->

    {{#if collection}}
      <link rel="stylesheet" href="{{root}}assets/css/{{collection}}.css"> <!-- Call custom CSS for collection type, if there is a collection attribute on the metadata (front-matter) for the page. -->
    {{/if}}

    <link rel="stylesheet" href="{{root}}assets/css/normalize.css"> <!-- normalize all the styles! -->
    <link rel="stylesheet" href="{{root}}assets/css/prism.css"> <!-- Add Prism theme. -->
    <link rel="stylesheet" href="{{root}}assets/css/main.css"> <!-- Use main css attributes. -->
</head>
